/*****************************************************************************\
 *                                  Index.css                                *
 *                                                                           *
 *  Style sheet corresponding to index.html.                                 *
 *                                                                           *
 *****************************************************************************/


body {
  background-color:#FEFEFE;
  /* background-image: url("../resources/background-3.jpg"); 
  background-size: 100% 100%; */

}

h1 {
  color: #000000;
  font-style: bold italic;
}


#intro_text {
  padding-left:25px;
  paddig-right:25px;
}

.small_padding {
  height: 0.05in;
}

#audio_file_chooser {
  float:left;
}

#file_name {
  float:left;
}


.load_example, .parameter_display_buttons {
  color: #AFA5AA;
  background-color: #444444;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0 #666666, 0px 1px 1px 0 #666666;
  margin-left: 2px;
  margin-right: 2px;
}

.load_example {
  float:right;
}

#load_example:focus {
  outline: 0;
  background-color: #3A3A3A;
}

.waveform_title {
  width:1in;
  text-align: center;
  margin:0 auto;
}

.wavesurfer {
  border-style: solid; 
  border-width: 1px;
  border-color: #000000;
  border-radius: 5px;
  background-color: #EEEEEE;

}

#transport_container {
  width:100%;
}

#transport_buttons_container {
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  width:1in;
  margin:0 auto;
  border-style: solid; 
  border-width: 1px; 
  border-radius: 5px;
  background-color: #444444;
  box-shadow: 0px 1px 1px 0 #666666, 0px 1px 1px 0 #666666;

}

.transport_image {
  height: 0.3in;
  width: 0.3in;
}

#transport_zoom_container {
  float:left;
  padding:3px;
  border-style: solid; 
  border-width: 1px; 
  border-radius: 5px;
  border-color: #000000;

  background-color: #444444;
  box-shadow: 0px 1px 1px 0 #666666, 0px 1px 1px 0 #666666;

}

.zoom_image {
  height: 0.25in;
  width: 0.25in; 
}

#transport_processing_container {
  float:right;
  padding:3px;

}

.processing_button {
  font-size: 1.2em;
  color: #AFA5AA;
  float:right;
  background-color: #444444;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0 #666666, 0px 1px 1px 0 #666666;
}

.processing_button:focus {
  outline: 0;
  background-color: #3A3A3A;
}

#waveform_view {
  color: #000000;
  border-style: solid; 
  border-width: 1px;
  border-color: #000000;
  padding: 10px;
  background: rgba(150,150,150,0.999);
  border-radius: 20px;
  box-shadow: 0 4px 5px 0 #333333, 0 4px 5px 0 #333333;
}

.tab {
  position: relative;
  display: inline-block;
  padding: 1em;
  padding-top:0.5em;
  padding-bottom: 0.25em;
  margin: 1em;
  margin-bottom: 0em;
  color: black;
  text-align: center;
  display: none;
}

.tab::before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  background-color: #BBBBBB;
  transform: perspective(10px) rotateX(3deg);
  border-style: solid; 
  border-width: 1px;
  border-color: #333333;
  border-bottom-style: none;
  border-radius: 10px 10px 0 0;
  z-index: 1;
}

#declip_tab::after {
  content: 'Declip';
  position: relative;
  z-index: 4;
}

#noise_removal_tab::after {
  content: 'Noise Removal';
  position: relative;
  z-index: 4;
}

#auto_eq_tab::after {
  content: 'Auto-Eq';
  position: relative;
  z-index: 4;
}

#plugins_container {
  width: 75%;
  margin:0 auto;
}

.plugin_image {
  height: 1in;
  width: 1in;
}

#declip_image {
  float:left;
}

#noise_removal_div {
  width: 1in;
  margin:0 auto;
}

#auto_eq_image {
  float:right;
}

.options_view {
  border-style: solid;
  border-width: 1px;
  background-color: #BBBBBB;
  display: none;

  overflow: auto;

  border-radius: 5px;
}

.explanation_view {
  padding: 1%;

  float: left;
  width: 31%;
  height: 98%;
}

.parameters_view {
  padding: 1%;

  float: left;
  width: 45%;
  height: 98%;
}

.activate_view {
  padding: 1%;
  float: left;
  width: 17%;
  height: 98%;
}

.explanation {
  width: 96%;
  height: 100%;
  padding: 10px;
  background-color: #EEEEEE;
  border-style: solid;
  border-width: 1px;
}

#empty_option {
  height: 200px;
}

.activate_button, .preview_button {
  display: block;
  font-size: 1.2em;
  float:right; /* margin: 0 auto; */
  color: #AFA5AA;
  background-color: #444444;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0 #666666, 0px 1px 1px 0 #666666;
}

.activate_button:focus, .preview_button:focus {
  outline: 0;
  background-color: #3A3A3A;
}

.vertical_slider {
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
}