/*****************************************************************************\
 *                                  Index.css                                *
 *                                                                           *
 *  Style sheet corresponding to index.html.                                 *
 *                                                                           *
 *****************************************************************************/

#loading_content {
  text-align: center;
}

#everything {
  display:none;
}

body {
  background-color:#FEFEFE;
  font-family: arial;
}
button {
  font-family: arial;
  overflow: hidden;
  white-space: nowrap;
}

button:focus {
  outline: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
}

#header {
  color: #000000;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding-top: 0.2in;
}

#title_container {
  margin: 0 auto;
  margin-bottom: 0.2in;

/*
  background-color: rgba(150,150,150,0.999);
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 20px;
  box-shadow: 0px 1px 1px 0 #666666, 0px 1px 1px 0 #666666;
*/
}

#title_table {
  width: 100%;
  height: 3%;
  border-collapse: collapse;
}

.title_td {
  width: 33%;
}

#description_link {
  float: right;
  padding-right: 0.3in;
}

#intro_text {
  padding-left: 0.3in;
  padding-right: 0.3in;
  line-height: 1.5;
}

.small_padding {
  height: 0.05in;
}

#repair_content {
  margin:0 auto; 
}

#audio_file_chooser {
  float:left;
}

#file_name {
  float:left;
}

#original_audio_waveform {
  position: relative;
  height: 100%;
}

#drag_container {
  position: absolute;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  width: 3in;
  height: 90px;
  top: 19px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 2;

  line-height: 75%;
  border-style: dashed;
  border-width: 2px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  border-color: #777777;

  display: none;
}

#load_audio_table {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 2;
}

.drag_audio_td {
  width: 100%;
  text-align: center;
}
.load_audio_td {
  width: 50%;
  height: 100%;
}

.load_audio_span {
  display: table;
  padding-left: 1px;
  padding-right: 1px;
  line-height: 1.2;
  margin: 0 auto;
}

#drag_audio {
    text-align: center;
}

#visible_audio_input {
  width: 100%;
  height: 100%;
}

#visible_audio_button {
  position: absolute;
  left: 4%;
  bottom: 4%;
}

#audio_input {
  position: absolute;
  left: 4%;
  bottom: 4%;
  opacity: 0.0;
  z-index: 5;
}

#load_example_button {
  position: absolute;
  bottom: 4%;
  right: 4%;
  z-index: 6;
}

#visible_audio_button, #load_example_button, .link_button {
  color: #A5A5A5;
  background-color: #444444;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0 #666666, 0px 1px 1px 0 #666666;
  font-size: 0.8em;
}

.load_example, .parameter_display_buttons {
  color: #A5A5A5;
  background-color: #444444;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0 #666666, 0px 1px 1px 0 #666666;
  margin-left: 2px;
  margin-right: 2px;
}

.params_table {
  width: 50%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 90%;
    right: 0%;
    background-color: #444444;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 7;

    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 3px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #A5A5A5;
    padding: 1em 0.1em;
    text-decoration: none;
    font-size: 0.7em;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #666666}

.dropdown-show {
  display:block;
}

.load_example {
  float:right;
}

#load_example:focus {
  outline: 0;
  background-color: #3A3A3A;
}

.waveform_title {
  width:1in;
  text-align: center;
  margin:0 auto;
}

.wavesurfer {
  border-style: solid; 
  border-width: 1px;
  border-color: #000000;
  border-radius: 5px;
  background-color: #EEEEEE;
}

#transport_td, #download_td {
  height: 0.36in;
}

#transport_buttons_container, #transport_zoom_container, #transport_clear_container {
  padding-top: 0.05in;
  padding-left: 3px;
  padding-right: 3px;
  margin:0 auto;
  border-style: solid; 
  border-width: 1px; 
  border-radius: 5px;
  background-color: #444444;
  box-shadow: 0px 1px 1px 0 #666666, 0px 1px 1px 0 #666666;
  height:0.36in;
}

#transport_clear_container {
  float: left;
}

.transport_image, .zoom_image, .clear_image {
  height: 0.3in;
  width: 0.3in;
}

#transport_buttons_container {
  width:0.66in;
}

#transport_zoom_container {
  float:left;
}

/*
.zoom_image {
  height: 0.3in;
  width: 0.3in; 
}
*/

#transport_processing_container {
  float: right;
  padding: 0px;
}

.processing_button, .activate_button {
  font-size: 1.4em;
  color: #A5A5A5;
  background-color: #444444;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0 #666666, 0px 1px 1px 0 #666666;
  padding-top: 0.02in;
  height:0.43in;
}

.processing_button {
  margin-left: 0.1in;
  float: right;
}

.processing_button:focus {
  outline: 0;
  background-color: #3A3A3A;
}

#waveform_table {
  width: 100%;
  height: 100%;
  padding: 0in;
}

#repair_td {
}

#module_button_td, #download_td {
  width: 0.75in;
  height: 100%;
  padding-left:0.05in;
  padding-right:0.05in;
}

#repair_container {
  width: 100%;
  color: #000000;
  border-style: solid; 
  border-width: 1px;
  border-color: #000000;
  padding: 0.1in;
  background: rgba(150,150,150,0.999);
  border-radius: 20px;
  box-shadow: 0 4px 5px 0 #333333, 0 4px 5px 0 #333333;

  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

.tab {
  position: relative;
  padding: 1em;
  padding-top:0.5em;
  padding-bottom: 0.25em;
  margin: 1em;
  margin-bottom: 0em;
  color: black;
  text-align: center;
  display: none;
}

.tab::before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  background-color: #BBBBBB;
  transform: perspective(10px) rotateX(3deg);
  border-style: solid; 
  border-width: 1px;
  border-color: #333333;
  border-bottom-style: none;
  border-radius: 10px 10px 0 0;
  z-index: 1;
}

#declip_tab::after {
  content: 'Declip';
  position: relative;
  z-index: 4;
}

#noise_removal_tab::after {
  content: 'Noise Removal';
  position: relative;
  z-index: 4;
}

#auto_eq_tab::after {
  content: 'Perceptual Eq';
  position: relative;
  z-index: 4;
}

#loudness_tab::after {
  content: 'Loudness';
  position: relative;
  z-index: 4;
}

#plugins_container {
  width: 100%;
  height: 100%;
  margin:0 auto;
}

.plugins_tr {
  height:25%;
}

.plugin_image {
  width: 100%;
}

.options_view {
  border-style: solid;
  border-width: 1px;
  background-color: #BBBBBB;
  display: none;

  border-radius: 5px;
}

.options_table {
  width: 100%;
  height: 100%;
}

.explanation_td {
  padding: 0.05in;
  width: 31%;
  height: 98%;
  vertical-align: top;
}

.parameters_td {
  padding: 0.1in;
  width: 45%;
  height: 98%;
  vertical-align: top;
}


.activate_td {
  padding: 0.05in;
  width: 23%;
  height: 98%;
  vertical-align: top;
}

.explanation {
  width: 96%;
  padding: 0.1in;
  margin: 0.1in;
  background-color: #EEEEEE;
  border-style: solid;
  border-width: 1px;

  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

#empty_option {
  height: 200px;
}

.activate_button {
  float:right;
  border-width: 1px;
}

.activate_button:focus{
  outline: 0;
}

.plugins_table {
  border-collapse: collapse;
  height: 100%;
  width: 98%;
}

.bypass_td {
  height: 0.18in;
  width: 100%;
  padding-bottom: 0in;
  padding-left: 0in;
  padding-right: 2px;
  padding-top: 0in;
  vertical-align: bottom;
}

.bypass_image {
  height: 0.18in;
  width: 100%;
  vertical-align: bottom;
  border-style: solid;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0px;  border-color: #000000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #444444;
  box-shadow: 0px 1px 1px 0 #666666, 0px 1px 1px 0 #666666;
}

.plugin_td {
  height:0.4in;
  padding: 0in;
  vertical-align: top;
}

.plugin_tr {
  height: 50%;
}

.module_button {
  font-size: 0.8em;
  color: #A5A5A5;
  background-color: #444444;
  border-style: solid;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 0px;
  border-color: #000000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 1px 1px 0 #666666, 0px 1px 1px 0 #666666;
  height: 100%;
  width: 100%;
  white-space: normal;
}

.options_enabled {
  background-color: #2A2A2A;
  color: #A5A5A5;
}

.vertical_slider {
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
}